/*Not all browsers render a page the same way. You can use a 'reset' or 'normalizer' to ensure your page looks the same in all browsers. Try using the following for this project:*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/*
Style the given HTML document to match the 'blog' mockup using the following:

Positioning
Z-index
Flexbox
Adjacent values

The fonts are:
'Josefin Sans', 'Noto Serif', 'Dancing Script'

HINTS:
- The width of the mockup is 1280px.
- Try using flexbox to align content. It will make your life easier!
- To create a parallax effect on the header image, there is a particular value for 'background-attachment' that will help you achieve this effect.

Aligning elements:
There is more than one way to align an element.
Flexbox makes aligning a snap.
For the aside, play around with 'max-height', so that the height adapts to the content.
*/

body {
	width: 1280px;
}

/* navigation section */

.nav-row {
	align-items: center;
	background-color: #2E2D2B;
	display: flex;
	font-family: 'Josefin Sans', sans-serif;
	height: 80px;
	justify-content: space-around;
	list-style-type: none;
	width: 100%;
}

.nav-item {
	font-size: 16px;
	text-transform: uppercase;
}

#facebook {
	font-size: 30px;
}

a {
	color: #fff;
	text-decoration: none;
}

.page-header {
/*	align-items: center;*/
	background-image: url(../img/header-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
/*	display: flex;*/
	height: 600px;
/*	justify-content: center;*/
/*	transform: scale(1);*/
	width: 100%;
}

.header-content {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.main-heading {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 150px;
	margin-top: 170px;
}

.sub-heading {
	color: #fff;
	display: flex;
	font-family: 'Dancing Script';
	font-size: 88px;
	margin-top: -60px;
	text-shadow: 3px 3px 3px #333;
}


/* start of the blog */

main {
/*	this makes the blog & aside side-by-side */
	background-color: #FEF9EC;
	box-shadow: 0px 5px 5px 1px #888;
	display: flex;
	justify-content: space-around;
	margin-left: 50px;
	margin-top: -70px;
	width: 1154px;
}

.blog-row {
/*	border-left: 2px solid #d3d3d3;*/
/*	border-right: 2px solid #d3d3d3;*/
/*	box-shadow: 0px 3px 4px #333;*/
	display: flex;
	flex-direction: column;
	margin-top: 40px;
/*	width: 1150px;*/
}

.item {
	background-color: #fff;
/*	border: 1px solid #AAA;*/
	box-shadow: 0px 5px 5px 1px #888;
/*	display: flex;*/
/*	flex-direction: column;*/
/*	flex-wrap: wrap;*/
	height: auto;
	margin: 20px;
	margin-bottom: 10px;
	margin-left: 70px;
	width: 512px;
}

.icon-wrapper {
	display: flex;
	text-align: center;
}

.fa fa-flask {
	
}

/*
.meta {
	border-bottom: 2px solid lightgrey;
	display: inline-flex;
	font-family: 'Josefin Sans', sans-serif;
	font-size: smaller;
	text-transform: uppercase;
}
*/

.date {
	border-bottom: 2px solid lightgrey;
	display: inline-flex;
	font-family: 'Josefin Sans', sans-serif;
	font-size: smaller;
	text-transform: uppercase;
}

.category {
	border-bottom: 2px solid lightgrey;
	display: inline-flex;
	font-family: 'Josefin Sans', sans-serif;
	font-size: smaller;
	text-transform: uppercase;
}

i.category:before {
   font-family: FontAwesome;
   content: "\f0c3";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   width: 12px;
}

.entry-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 20px;
}

.blog-img {
	background-size: cover;
	background-position: center;
	float: right;
	height: 250px;
	margin-right: 20px;
	margin-bottom: 30px;
  width: 250px;
}

div {
/*	flex-grow: 1;*/
}

#dino {
	background-image: url(../img/dino.jpg);
}

#xx {
	background-image: url(../img/xx.png);
}

#yhact-img {
	background-image: url(../img/yhact.jpg)
}

.primary-txt {
	font-family: 'Noto Serif', serif;
	line-height: 2em;
	padding-left: 16px;
  padding-right: 15px;
}

aside {
	background-color: #EFEADF;
	box-shadow: 0px 5px 5px 1px #888;
	width: 350px;
}

.auth-pic {
	background-image: url(../img/author.jpeg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	height: 200px;
	margin-left: 60px;
	margin-top: 60px;
/*	text-align: center;*/
	width: 200px;
}

.aside-heading {
	border-bottom: 2px solid #555;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
  /* width: 75%; */
  /* display: flex; */
  /* justify-content: space-around; */
}

primary-txt {
	
}

footer {
	background-color: #333;
	color: #EEE;
	font-size: 12px;
	height: 32px;
	padding-top: 8px;
	text-align: center;
	text-transform: uppercase;
}
